body {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman' ;
}
nav{
    background-color:whitesmoke ;
    display: flex;
    justify-content: space-between;
    padding : 10px 20px;
    align-items: center;
    box-shadow: 1px 1px 10px rgb(203, 241, 200);

}

.logo {
    background-color:blue;
    padding: 10px 20px;
    font-size: 16px;
    width: 10px;
    height: 20px;
    border-radius: 100%;
    align-items: center;
    color:white;
    display:flex;
    justify-content: center;
  
}

.menu {
    /* background-color: rgb(203, 241, 200);*/
    display: flex;
    gap: 10px;
} 
.menu a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: all .5s linear;
}
.menu a:hover{
    color: red;
    font-size: 12px;
    
}
.menu.icon{
    display:none;
}
.content{
   height: 500px;
    width: 200px;
    float: right;
    margin: 20px;

}
.content_main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.content_data{
    display: flex;
    flex-direction: column;
    gap:6px;
    justify-content: center;
}
.content_data h1{
    margin: 0px;
    padding: 0px;
    font-size: 48px;
    font-style: italic;
}
.content_data div{
     font-size: 38px;
     text-transform: capitalize;
     font-weight: 700;
}
.content_buttons button{
    background-color: aqua;
    padding: 18px 22px;
    color: white;
    border: none;
    border-radius: 10px;
    animation: alternate infinite  .1s buttonanimate;
}
.content{
   /* background-color: blue;*/
    height: 50 px;
    width: 100%;
   
}
.content img{

     width: 200px;
    border-radius: 5%;
    object-fit:cover;
    object-position: top center;
    
}

.background{
    height: 100%;
    width: 100%;
    background-image: url('../RESOURCES/Image/man.png');
}
ol{
    color:blueviolet;
    font-size: 24px;
    height: 20px;
    width: 50px;
    padding: 100px;
}
.about_body{
    background-color: #007498;
    height : 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.form{
    width: 400px;
    height: fit-content;
    margin: 0px auto;
    background-color: white;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0px;
    button: 0px;
    box-shadow: 1px 1px 20px white;
    border-radius: 0%;
}
.form_menu{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.form_menu label{
    font-size: 18px;
    font-weight: 600;
}
.form_menu input{
    height: 40px;
    padding:0px 6px;
    border-radius: 10px;
    border: 1px solid gray;
}
.form_menu input:placeholder{
     text-transform: capitalize;
}
.form_check{
    display:flex;
    align-items: center;
    font-size:12px;

}
.form_check label{
    font-size: 16px;
    text-transform: capitalize;
}
.form_button{
    height : 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}
.form_button .button{
    color:blueviolet;
    height:100%;
    width:100%;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: transparent;
    border:none;
    cursor: pointer;
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100%;


}
.animation_button {
    width: 100%;
    height: 100%;
    background-color: goldenrod;
    position: absolute;
    z-index: -1;
    transition: all 5s ease in out ;
}
.form_button:hover .animation_button{
    width: 100%;
}


@keyframes buttonanimate{
    0%{
        background-color: rgb(255, 21, 21);
    }
    25%{
        background-color: rgb(255, 255, 0);
    }
    50%{
        background-color: rgb(77, 255, 0);
    }
    75%{
        background-color: rgb(0, 255, 255);
    }
    100%{
        background-color: rgb(255, 21, 60);
    }
}

   /* @keyframes buttonanimate{
        from{
            transfrom: rotate(0deg);
        }
        to{
            transform: rotate(45deg);
        }

    }*/
        
    
@media(max-width: 480px){
    body{
        background-color:grey;
    }
    .logo{
        height: 40px;
        width: 40px;
        font-size: 14px;
    }

    .menu {

    display: none;
    }

    .menu_icon svg{
     color:whitesmoke;
    }
    
    .content{
        height: 20px;
    }
}

