body {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman' ;
}
nav{
    background-color:whitesmoke ;
    display: flex;
    justify-content: space-between;
    padding : 10px 20px;
    align-items: center;
    box-shadow: 1px 1px 10px rgb(203, 241, 200);

}

.logo {
    background-color:blue;
    padding: 10px 20px;
    font-size: 16px;
    width: 10px;
    height: 20px;
    border-radius: 100%;
    align-items: center;
    color:white;
    display:flex;
    justify-content: center;
  
}

.menu {
    /* background-color: rgb(203, 241, 200);*/
    display: flex;
    gap: 10px;
} 
.menu a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: all .5s linear;
}
.menu a:hover{
    color: red;
    font-size: 12px;
    
}
.menu.icon{
    display:none;
}
.content{
   height: 500px;
    width: 200px;
    float: left;
    margin: 20px;

}
.content img{

     width: 200px;
    border-radius: 5%;
    object-fit:cover;
    object-position: top center;
}
.background{
    height: 100%;
    width: 100%;
    background-image: url('../RESOURCES/Image/man.png');
}@media(max-width: 480px){
    body{
        background-color:grey;
    }
    .logo{
        height: 40px;
        width: 40px;
        font-size: 14px;
    }

    .menu {

    display: none;
    }

    .menu_icon svg{
     color:whitesmoke;
    }
    .content{
        height: 20px;
    }
}

